@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


h1{
  font-family: 'Lora', serif;
  font-size: 55px;
  font-weight: 100;
  text-align: center;
  padding-top: 250px;
}

h4{
  font-family: 'Lora', serif;
  font-size: 18px;
  font-weight: 100;
  text-align: center;
  color: gray;
  padding-top: 40px;
}

audio {
    width: 300px;
    height: 40px;
    padding-top: 60px;
}
ul{
  padding-top: 50px;
  columns: 4;
  font-family: 'Lora', serif;
  -webkit-column-width: 150px;
  -moz-column-width: 150px;
  column-width: 150px;
}

#playlist{
  list-style:circle;
  line-height: 30px;
  text-align: left;
}

#playlist li a{
  color: gray;
  text-decoration:none;
  text-align: left;
}

#playlist .current-song a{
  color: blue;
}
